<header class="nav-bar nav-bar-fixed-top nav-bar-default">
  <div class="container">
    <%= link_to "MyRecipes", root_path ,class:"btn btn-lg btn-primary", id:"logo" %>
    <div class="nav_item">
      <%= link_to "link 1","" ,class:"btn btn-default btn-primary" %>
    </div>
     <div class="nav_item">
      <%= link_to "link 2","",class:"btn btn-default btn-primary" %>
    </div>
     <div class="nav_item">
      <%= link_to "New Recipe",new_recipe_path,class:"btn btn-default btn-primary" %>
    </div>
 </div>
</header>